<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Boot User Authentication</title>
</head>
<body>
<style>
    html, body {
        height: 100%;
        width: 100%;
    }
    div {
        margin-left: 42%;
        margin-top: 15%;
        padding-top: 90px;
        border-radius: 5px;
        width: 200px;
        height: 200px;
        background-color: lightblue;
    }
</style>
    <div align="center">
    <form role="form" th:action="@{/sign-in}" th:method="post">
        <lable>Username</lable><br>
        <input type="text" id="username" name="username">
        <br>
        <lable>Password</lable><br>
        <label for="password"></label>
        <input type="password" id="password" name="password"><br><br>

        <input type="submit">
    </form>
</div>
</body>
</html>
